.lead {
   font-size: 1.125rem;
   font-weight: 300;
}

.display-1 {
   font-size: calc(1.625rem + 4.5vw);
   font-weight: 300;
   line-height: 1.1;
}
@media (min-width: 1200px) {
   .display-1 {
      font-size: 5rem;
   }
}
.display-2 {
   font-size: calc(1.575rem + 3.9vw);
   font-weight: 300;
   line-height: 1.1;
}
@media (min-width: 1200px) {
   .display-2 {
      font-size: 4.5rem;
   }
}
.display-3 {
   font-size: calc(1.525rem + 3.3vw);
   font-weight: 300;
   line-height: 1.1;
}
@media (min-width: 1200px) {
   .display-3 {
      font-size: 4rem;
   }
}
.display-4 {
   font-size: calc(1.475rem + 2.7vw);
   font-weight: 300;
   line-height: 1.1;
}
@media (min-width: 1200px) {
   .display-4 {
      font-size: 3.5rem;
   }
}
.display-5 {
   font-size: calc(1.425rem + 2.1vw);
   font-weight: 300;
   line-height: 1.1;
}
@media (min-width: 1200px) {
   .display-5 {
      font-size: 3rem;
   }
}
.display-6 {
   font-size: calc(1.375rem + 1.5vw);
   font-weight: 300;
   line-height: 1.1;
}
@media (min-width: 1200px) {
   .display-6 {
      font-size: 2.5rem;
   }
}

.list-unstyled {
   padding-left: 0;
   list-style: none;
}
.list-inline {
   padding-left: 0;
   list-style: none;
}
.list-inline-item {
   display: inline-block;
}
.list-inline-item:not(:last-child) {
   margin-right: 6px;
}
.initialism {
   font-size: 0.75rem;
   text-transform: uppercase;
}
.blockquote {
   margin-bottom: 1.5rem;
   font-size: 1.125rem;
}
.blockquote > :last-child {
   margin-bottom: 0;
}
.blockquote-footer {
   margin-top: -1.5rem;
   margin-bottom: 1.5rem;
   font-size: 0.75rem;
   color: #98a6ad;
}
.blockquote-footer::before {
   content: "\2014\00A0";
}
.img-fluid {
   max-width: 100%;
   height: auto;
}
.img-thumbnail {
   padding: 0.25rem;
   background-color: #fff;
   border: 1px solid #dee2e6;
   border-radius: 0.25rem;
   max-width: 100%;
   height: auto;
}
.figure {
   display: inline-block;
}
.figure-img {
   margin-bottom: 0.75rem;
   line-height: 1;
}
.figure-caption {
   font-size: 0.75rem;
   color: #98a6ad;
}
