.border {
   border: 1px solid #dee2e6 !important;
}
.border-0 {
   border: 0 !important;
}
.border-top {
   border-top: 1px solid #dee2e6 !important;
}
.border-top-0 {
   border-top: 0 !important;
}
.border-end {
   border-right: 1px solid #dee2e6 !important;
}
.border-end-0 {
   border-right: 0 !important;
}
.border-bottom {
   border-bottom: 1px solid #dee2e6 !important;
}
.border-bottom-0 {
   border-bottom: 0 !important;
}
.border-start {
   border-left: 1px solid #dee2e6 !important;
}
.border-start-0 {
   border-left: 0 !important;
}
.border-primary {
   border-color: #3688fc !important;
}
.border-secondary {
   border-color: #919ca7 !important;
}
.border-success {
   border-color: #42d29d !important;
}
.border-info {
   border-color: #44badc !important;
}
.border-warning {
   border-color: #f9bc0d !important;
}
.border-danger {
   border-color: #fa6767 !important;
}
.border-light {
   border-color: #eef2f7 !important;
}
.border-dark {
   border-color: #474d56 !important;
}
.border-white {
   border-color: #fff !important;
}
.border-0 {
   border-width: 0 !important;
}
.border-1 {
   border-width: 1px !important;
}
.border-2 {
   border-width: 2px !important;
}
.border-3 {
   border-width: 3px !important;
}
.border-4 {
   border-width: 4px !important;
}
.border-5 {
   border-width: 5px !important;
}
.rounded {
   border-radius: 0.25rem !important;
}
.rounded-0 {
   border-radius: 0 !important;
}
.rounded-1 {
   border-radius: 0.2rem !important;
}
.rounded-2 {
   border-radius: 0.25rem !important;
}
.rounded-3 {
   border-radius: 0.3rem !important;
}
.rounded-circle {
   border-radius: 50% !important;
}
.rounded-pill {
   border-radius: 50rem !important;
}
.rounded-top {
   border-top-left-radius: 0.25rem !important;
   border-top-right-radius: 0.25rem !important;
}
.rounded-end {
   border-top-right-radius: 0.25rem !important;
   border-bottom-right-radius: 0.25rem !important;
}
.rounded-bottom {
   border-bottom-right-radius: 0.25rem !important;
   border-bottom-left-radius: 0.25rem !important;
}
.rounded-start {
   border-bottom-left-radius: 0.25rem !important;
   border-top-left-radius: 0.25rem !important;
}
