.shadow {
   -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15) !important;
   box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15) !important;
}
.shadow-sm {
   -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
   box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.shadow-lg {
   -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12) !important;
   box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12) !important;
}
.shadow-none {
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}
